.page-title {
  margin-bottom: 2rem;
}

title {
  font-size: 4rem !important;
}

form {
  width: 80%;
}

.image-upload-div {
  box-shadow: 0px 0px 1px 1px #ccc;
  padding: 0.8rem 0.8rem 0.1rem 0.8rem;
}

.wrapper {
  height: 6rem;
  position: relative;
}

#image-upload-label {
  box-shadow: 0px 0px 1px 1px #ccc;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.06s ease-in;
  border-radius: 2px;
}

#image-upload-label:hover {
  background-color: #ccc !important;
}

.image-upload-div .hidden {
  /* visibility: hidden; */
  display: none;
}

.image-preview {
  height: 100%;
}

.image-preview-img {
  height: 90%;
  position: absolute;
  top: 0;
  right: 1rem;
  box-shadow: 0px 0px 1px 1px #ccc;
}

.preview-article {
  /* width: 48%; */
  width: 52rem;
  height: 90vh;
  position: fixed;
  top: 4%;
  left: 30%;
  padding: 3rem;
  background: #fff;
  visibility: hidden;
  overflow-y: auto;
  box-shadow: 0px 0px 6px 2px #ccc;
  border-radius: 5px;
}

.article {
  background: #fff;
  height: 100%;
}

.article-title {
  margin-bottom: 2rem;
}

.article-wrapper {
  padding: 3rem 0;
}

#article-image {
  width: 100%;
}

@media screen and (max-width: 1160px) {
  .preview-article {
    width: 45rem;
  }
}

@media screen and (max-width: 992px) {
  form {
    width: 50rem;
  }

  .preview-article {
    left: calc(50% - 22.5rem);
  }
}

@media screen and (max-width: 724px) {
  form {
    width: 96%;
    margin: 0 auto;
  }

  .create-new-post-body {
    padding-left: 0.4rem !important;
  }

  .page-title {
    margin-left: 1rem;
  }

  .preview-article {
    width: 35rem;
    left: calc(50% - 17.5rem);
    padding: 2rem 1rem;
  }

  .image-upload-div {
    padding: 2rem;
  }
}

@media screen and (max-width: 535px) {
  .preview-article {
    width: 26rem;
    left: calc(50% - 13rem);
    padding: 2rem 0.6rem;
  }
}

@media screen and (max-width: 399px) {
  .preview-article {
    width: 23rem;
    left: calc(50% - 11.5rem);
  }
}

@media screen and (max-width: 331px) {
  .preview-article {
    width: 20rem;
    left: calc(50% - 10.5rem);
    padding: 2.5rem 0.6rem;
  }
}
