html {
  font-size: 85%;
}

.navbar {
  border-bottom: 1px solid #75c9d4;
}

.dashboard-navbar {
  height: 94.2vh;
  padding-top: 2rem;
  padding-right: 0;
}

.dashboard-navbar a {
  color: #444;
}

.userinfo-form {
  margin-left: 80%;
}

i {
  vertical-align: bottom !important;
  margin-right: 0.4rem;
}

li {
  list-style: none;
}

.dashboard-item {
  padding: 0.8rem 0.4rem 0.8rem 1rem;
  cursor: pointer;
}

.dashboard-item:hover {
  background-color: #75c9d4;
}

.dashboard-body-title {
  margin-bottom: 2rem;
}

.add-new-post-btn,
.num-posts-text,
#num-posts {
  color: #4195a0;
}

.add-new-post-btn:hover {
  color: #4195a0;
}

table {
  border: 1px solid #999;
}

table th,
table td {
  width: 18%;
  text-align: center;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 0.6rem 0 0.5rem 0;
}

table #title-header {
  width: 48%;
}

table #action-header {
  width: 12rem;
}

table .action {
  margin-right: 0.8rem;
}

table .action-btn,
.add-new-post-btn {
  padding: 0 0.6rem;
  margin-top: -0.3rem;
}

/* *********************** Responsive styles  ************************* */
@media screen and (max-width: 768px) {
  .userinfo-form {
    margin-left: 0.7rem;
    font-size: 1.2rem;
  }
}
