#login-form {
  width: 26rem;
  margin: 0 auto;
}

.navbar,
.login-btn {
  background-color: #37474f;
}

.navbar a,
.login-btn {
  color: #eceff1 !important;
}

.login-btn:hover {
  background-color: #455a64;
}

@media screen and (max-width: 444px) {
  #login-form {
    width: 90%;
  }
}
