/* html {
  font-size: 85%;
}

.navbar,
.body {
  padding-left: 10rem;
  padding-right: 10rem;
} */

#register-form {
  width: 26rem;
  margin: 0 auto;
}

@media screen and (max-width: 444px) {
  #register-form {
    width: 90%;
  }
}
